.blog-list {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6347;
}


/* .profile-info h1, .profile-info h2, .profile-info h3 {
    color: #f1f1f1; */
/* } */

.content ul {
    list-style-type: none;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    padding: 2rem;
    border-radius: 8px;
    background-color: #2e2e2e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.content p {
    line-height: 1.6;
    color: #ccc;
}


.content li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    background-color: #2e2e2e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.content li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content a {
    text-decoration: none;
    color: inherit;
    color: #ff6347;
}

/* 
.content h2 {
    color: #ff6347; /* Match the color of site-title */
    /* text-decoration: none; */
    /* font-size: 1.2rem; */
/* } */

/* .blog-list h2 {
    margin: 0 0 10px;
    color: #222;
} */

/* .blog-list p {
    margin: 5px 0;
} */