.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  color: #ff6347;
}

.project-modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-link svg {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.project-skills {
  margin-top: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background-color: #444;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  text-align: center;
  position: relative;
}

.skill-logo {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}


.live-url-link {
  background-color: #444;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.live-url-link:hover {
  background-color: #444;
  transform: scale(1.20); /* Slightly enlarge the project on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.live-url {
  text-align: center;
  margin-top: 1rem;
  
}

/* .live-url:hover {
  text-decoration: underline;
} */